.navigation-help-button {
	float: right;
}

body > .notify .notify-type-prompt .notify-popup-body {
  padding-right: 20px !important;

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

@media all and (min-width: 324px) {
  body > .notify {
    .notify-prompt {
      max-width: 820px;
    }

    .notify-type-prompt .notify-popup-body {
      max-height: 350px;
      overflow-y: auto;
    }
  }
}
